* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f9f9f9; }

/* HEADER */
header {
  background: #ffffff;
  width: 100vw;
  height: 80px; }

.main-header-container {
  padding: 16px 42px 16px 42px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo-container {
  height: 36px;
  width: 39px;
  display: inline-block; }

.logo-container:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out; }

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg); }
  25% {
    -webkit-transform: rotate(-10deg); }
  50% {
    -webkit-transform: rotate(20deg); }
  75% {
    -webkit-transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(1deg); }
  25% {
    -ms-transform: rotate(-1deg); }
  50% {
    -ms-transform: rotate(1.5deg); }
  75% {
    -ms-transform: rotate(-5deg); }
  100% {
    -ms-transform: rotate(0deg); } }

@keyframes wiggle {
  0% {
    transform: rotate(10deg); }
  25% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(20deg); }
  75% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }

.logo-container img {
  height: 100%;
  width: auto; }

.user-name {
  font-size: 24px;
  color: #616161;
  padding: 16px 18px 16px 0;
  display: inline-block; }

.user-points-container {
  background: #ededed;
  border-radius: 100px;
  height: 48px;
  display: inline-block; }

.user-points {
  font-size: 24px;
  color: #616161;
  line-height: 48px;
  padding: 0 12px 0 12px;
  display: inline-block; }

.user-points-icon {
  width: 24px;
  height: 24px;
  display: inline-block; }

.user-points-icon img {
  width: 100%;
  height: auto;
  vertical-align: sub; }

/* SLIDER */
.main-slider {
  width: 100vw;
  font-size: 64px;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
  position: relative;
  display: inline-block; }

.image-container img {
  width: 100%;
  height: auto;
  display: block; }

.title {
  position: absolute;
  bottom: 48px;
  left: 132px; }

/* PRODUCTS */
.main-products {
  width: 100vw;
  margin-bottom: 96px; }

.sort-container {
  margin: 65px 132px 24px 132px;
  display: flex;
  align-items: stretch;
  text-align: center;
  justify-content: space-between;
  width: 1176px; }

.quantity {
  display: inline-block;
  font-size: 24px;
  color: #616161;
  line-height: 48px;
  margin: 0 12px 0 0; }

.dividor {
  display: inline-block;
  background: #d9d9d9;
  width: 1px;
  height: 48px;
  margin: 0 12px 0 12px; }

.sort-by {
  display: inline-block;
  font-size: 24px;
  color: #a3a3a3;
  line-height: 48px;
  margin: 0 12px 0 12px; }

.bluebtn {
  display: inline-block;
  background: #0ad4fa;
  color: white;
  border-radius: 100px;
  width: 163px;
  height: 48px;
  margin: 0 12px 0 12px; }

.whitebtn {
  display: inline-block;
  background: #ededed;
  border-radius: 100px;
  width: 163px;
  height: 48px;
  margin: 0 12px 0 12px; }

.arrows {
  width: 150px;
  display: flex; }

.next {
  margin-right: 5px;
  width: 48px;
  height: 48px; }

.previous {
  width: 48px;
  height: 48px; }

.line {
  background: #d9d9d9;
  display: flex;
  height: 1px;
  margin: 0 132px 12px 132px;
  width: 1176px; }

.products {
  margin: 0 132px 0 132px;
  width: 1176px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

/* SINGLE PRODUCT */
.container {
  width: 276px;
  height: 276px;
  margin-top: 12px;
  margin-bottom: 12px;
  position: relative;
  transition: .2s ease;
  background-color: #ffffff; }

.container:hover .result-container {
  transform: translate(0px, -10px); }

.result-container {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s ease; }

.unavailable {
  opacity: 0.3; }

.container:hover {
  box-shadow: 13px 17px 97px -19px rgba(0, 0, 0, 0.75);
  transform: translate(0px, -10px); }

.buy-icon {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 24px;
  left: 210px;
  z-index: 3;
  background-image: url(./Images/buy-blue.svg);
  transition: .5s ease; }

.img {
  width: 252px;
  height: 182px;
  margin: 12px; }

.middle {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: .5s ease; }

.middleavailable {
  background-image: linear-gradient(-180deg, #0ad4fa 0%, #25bbf1 100%); }

.middleunavailable {
  background-image: linear-gradient(-180deg, #fa300a 0%, #f15b25 100%); }

.container:hover .middle {
  opacity: 0.9;
  transform: translate(0px, 0px); }

.container:hover .buy-icon {
  background-image: url(./Images/buy-white.svg);
  opacity: 1;
  transform: translate(0, -10px); }

.redeem {
  background-color: #ffffff;
  width: 228px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  color: #616161;
  letter-spacing: -0.04px;
  text-align: center;
  border-radius: 100px;
  border: none;
  opacity: 0;
  position: relative;
  margin: 157px 24px 77px 24px; }

.noredeem {
  background-color: #ffffff;
  width: 228px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  color: #616161;
  letter-spacing: -0.04px;
  text-align: center;
  border-radius: 100px;
  border: none;
  opacity: 0;
  position: relative;
  margin: 157px 24px 77px 24px; }

.redeem:hover {
  background-color: #1E9CC8;
  color: white; }

.redeem:active {
  background-color: #ffffff;
  color: #616161; }

.container:hover .redeem {
  transition: .5s ease;
  opacity: 1;
  transform: translate(0px, -10px); }

.container:hover .noredeem {
  transition: .5s ease;
  opacity: 1;
  transform: translate(0px, -10px); }

.container:hover .points-product {
  transform: translate(0px, -10px); }

.points-product {
  font-size: 36px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 24px;
  transition: .5s ease; }

.points-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: sub;
  margin-left: 12px; }

.line-small {
  background: #d9d9d9;
  width: 228px;
  height: 1px;
  margin: auto; }

.category-result {
  font-size: 16px;
  color: #a3a3a3;
  margin-left: 24px;
  margin-top: 18px; }

.title-result {
  margin-left: 24px;
  font-size: 18px;
  color: #616161; }
