// // COLORS
$main-color: #0ad4fa;
$dark-main-color: #25bbf1;
$darkest-main-color: #1E9CC8;
$complementary-color: #fa300a;
$light-complementary-color: #f15b25;
$white: #ffffff;
$light-gray: #a3a3a3;
$grey: #616161;
$body-background: #f9f9f9;
$light-buttons: #ededed;
$dividors: #d9d9d9;

// // SIZES
$max-width: 100%;
$max-container-width: 1170px;

// margins 
$smallest-margin: 12px;
$smaller-margin: 16px;
$small-margin: 18px;
$margin: 24px;
$large-margin: 32px;
$larger-margin: 42px;
$largest-margin: 48px;
$main-margin: 132px;

// objects
$border-radius: 100px;
$button-margin: 0 $smallest-margin 0 $smallest-margin;
$redeem-margin: 157px $margin 77px $margin;
$header-height: 80px;
$logo-height: 36px;
$logo-width: 39px;
$product-container: 276px;
$buy-icon: 50px;
$button-width: 163px;
$arrow-width: 150px;
$img-width: 252px;
$img-height: 182px;
$redeem-width: 250px;
$container-dividor: 228px;

//FONTS 
$font-stack: 'Source Sans Pro', sans-serif;
$slider-font: 64px;
$products-font: 36px;
$header-font: 24px;
$button-font: 18px;
$category-font: 16px;

//ANIMATIONS 
$main-transition: .5s ease;
$main-transform: translate(0px, -10px);
$logo-animation-name: wiggle;
$logo-duration: 1000ms;
$logo-iteration-count: 1;
$logo-timing-function: ease-in-out;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  background-color: $body-background;
}

/* HEADER */

header {
  background: $white;
  width: $max-width;
  height: $header-height;
}

.main-header-container {
  padding: $smaller-margin $larger-margin $smaller-margin $larger-margin;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  height: $logo-height;
  width: $logo-width;
  display: inline-block;
  &:hover {
  animation-name: $logo-animation-name;
  -webkit-animation-name: $logo-animation-name;
  -ms-animation-name: $logo-animation-name;
  animation-duration: $logo-duration;
  -ms-animation-duration: $logo-duration;
  -webkit-animation-duration: $logo-duration;
  animation-iteration-count: $logo-iteration-count;
  -webkit-animation-iteration-count: $logo-iteration-count;
  -ms-animation-iteration-count: $logo-iteration-count;
  animation-timing-function: $logo-timing-function;
  -webkit-animation-timing-function: $logo-timing-function;
  -ms-animation-timing-function: $logo-timing-function;
}
  img {
    height: 100%;
    width: auto;
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(1deg);
  }
  25% {
    -ms-transform: rotate(-1deg);
  }
  50% {
    -ms-transform: rotate(1.5deg);
  }
  75% {
    -ms-transform: rotate(-5deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.user-name {
  font-size: $header-font;
  color: $grey;
  padding: $smaller-margin $small-margin $smaller-margin 0;
  display: inline-block;
}

@media only screen and (max-width: 1175px) {
  .user-name {
    font-size: $category-font
  }
}

.user-points-container {
  background: $light-buttons;
  border-radius: $border-radius;
  height: $largest-margin;
  display: inline-block;
}

.user-points {
  font-size: $header-font;
  color: $grey;
  line-height: $largest-margin;
  padding: 0 $smallest-margin 0 $smallest-margin;
  display: inline-block;
}

@media only screen and (max-width: 1175px) {
  .user-points {
    font-size: $category-font
  }
}

.user-points-icon {
  width: $header-font;
  height: $header-font;
  display: inline-block;
  img {
    width: 100%;
    height: auto;
    vertical-align: sub;
  }
}

@media only screen and (max-width: 1175px) {
  .user-points-icon {
    font-size: $category-font
  }
}

/* SLIDER */

.main-slider {
  width: $max-width;
  font-size: $slider-font;
  color: $white;
  text-align: left;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

@media only screen and (max-width: 1175px) {
  .main-slider {
    font-size: $products-font;
  }
}

.image-container {
  width: 100%;
  height: auto;
}

.image-container img {
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  bottom: $largest-margin;
  left: $main-margin;
}

/* PRODUCTS */

.main-products {
  width: $max-width;
  margin-bottom: $largest-margin * 2;
}

.sort-container {
  margin: ($main-margin / 2) $main-margin $margin $main-margin;
  display: flex;
  align-items: stretch;
  text-align: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1340px) {
  .sort-container {
    margin: 0;
    flex-direction: column;
  }
}

.quantity {
  display: inline-block;
  font-size: $header-font;
  color: $grey;
  line-height: $largest-margin;
  margin: 0 $smallest-margin 0 0;
}

@media only screen  and (max-width: 960px) {
  .quantity {
    font-size: $header-font;
    margin: 0;
  }
}

.dividor {
  display: inline-block;
  background: $dividors;
  width: 1px;
  height: $largest-margin;
  margin: $button-margin;
}

@media only screen and (max-width: 1340px) {
  .dividor {
    display:none;
  }
}

.sort-by {
  display: inline-block;
  font-size: $header-font;
  color: $light-gray;
  line-height: $largest-margin;
  margin: $button-margin;
}

@media only screen  and (max-width: 960px) {
  .sort-by {
    font-size: $header-font;
  }
}

.sort-msg {
  display: inline-block;
}

@media only screen  and (max-width: 960px) {
  .sort-msg {
    display: block;
  }
}

.bluebtn {
  display: inline-block;
  background: $main-color;
  color: $white;
  border-radius: $border-radius;
  width: $button-width;
  height: $largest-margin;
  margin: $button-margin;
}

@media only screen  and (max-width: 960px) {
  .bluebtn {
    margin: $smallest-margin;
  }
}

.whitebtn {
  display: inline-block;
  background: $light-buttons;
  border-radius: $border-radius;
  width: $button-width;
  height: $largest-margin;
  margin: $button-margin;

}
@media only screen  and (max-width: 960px) {
  .whitebtn {
    margin: $smallest-margin;
  }
}

.whitebtn:hover {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.10);
}

.arrows {
  width: $arrow-width;
  display: flex;
}

@media only screen and (max-width: 1340px) {
  .arrows {
  align-self: center;
  justify-content: space-between;
  margin: $margin
  }
}

.next {
  margin-right: $smaller-margin;
  width: $largest-margin;
  height: $largest-margin;
}

.previous {
  width: $largest-margin;
  height: $largest-margin;
}

.line {
  background: $dividors;
  display: flex;
  height: 1px;
  margin: 0 $main-margin $smallest-margin $main-margin;
}

@media only screen and (max-width: 1175px) {
  .line {
    margin: 0
  }
}

.products {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: $margin;
  grid-row-gap: $margin;
  margin: 0 $main-margin 0 $main-margin;
}
  @media only screen and (max-width: 768px) {
    .products {
      grid-template-columns: auto;
    margin: 0 
  } 
}
  @media only screen and (min-width: 768px) and (max-width: 960px) {
    .products {
      grid-template-columns: auto auto;
    margin:0
  }
}
  @media screen and (min-width: 960px) and (max-width: 1175px) {
    .products {
      grid-template-columns: auto auto auto;
    margin:0
    } 
  }

  /* SINGLE PRODUCT */

.container {
  position: relative;
  transition: $main-transition;
  background-color: $white;
  :hover .result-container {
    transform: $main-transform;
  }
}

.result-container {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.10);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: $main-transition;
}

.unavailable {
  opacity: 0.3;
}

.container:hover {
  box-shadow: 13px 17px 97px -19px rgba(0, 0, 0, 0.75);
  transform: $main-transform;
}

.buy-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 0;
  margin: 12px;
  padding: 8px 15px;
  display: inline-block;
  height: $buy-icon;
  width: $buy-icon;
  z-index: 3;
  background-image: url(./Images/buy-blue.svg);
  transition: $main-transition;
}

.img {
  text-align: center;
  padding: 10px;
  min-height: 185px;
  min-width: 255px;
}

.filter {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: $main-transition;
}

.filteravailable {
  background-image: linear-gradient(-180deg, $main-color 0%, $dark-main-color 100%);
}

.filterunavailable {
  background-image: linear-gradient(-180deg, $complementary-color 0%, $light-complementary-color 100%);
}

.container:hover {
  .filter {
  opacity: 0.9;
  }
 .buy-icon {
  background-image: url(./Images/buy-white.svg);
  opacity: 1;
  transform: $main-transform;
  }
}

.redeem, .noredeem {
  background-color: $white;
  width: $redeem-width;
  height: $larger-margin;
  line-height: $larger-margin;
  font-size: $button-font;
  color: $grey;
  text-align: center;
  border-radius: $border-radius;
  border: none;
  opacity: 0;
  position: relative;
  margin: $redeem-margin;
}


.redeem {
  &:hover {
  background-color: $darkest-main-color;
  color: $white;
  }
&:active {
  background-color: $white;
  color: $grey;
  }
}

.container:hover {
  .redeem, .noredeem {
  transition: $main-transition;
  opacity: 1;
  transform: $main-transform;
  }
.points-product {
  transform: $main-transform;
  }
}

.points-product {
  font-size: $products-font;
  color: $white;
  display: inline-block;
  margin-bottom: $margin;
  transition: $main-transition;
}

.points-icon {
  width: $header-font;
  height: $header-font;
  display: inline-block;
  vertical-align: sub;
  margin-left: $smallest-margin;
}

.line-small {
  background: $dividors;
  width: $container-dividor;
  height: 1px;
  margin: auto;
}

.category-result {
  font-size: $category-font;
  color: $light-gray;
  margin-left: $margin;
  margin-top: $small-margin;
}

.title-result {
  margin-left: $margin;
  font-size: $button-font;
  color: $grey;
}