.main-products {
  width: 100vw;
  margin-bottom:74px;
}

.sort-container {
margin:65px 132px 24px 132px;
display:flex;
align-items: stretch;
text-align: center;
justify-content: space-between;
width:1176px;
}

.quantity {
  display: inline-block;
  font-size:24px;
color:#616161;
letter-spacing:-0.15px;
line-height:48px;
margin: 0 12px 0 0px;

}

.dividor {
  display: inline-block;
  background:#d9d9d9;
width:1px;
height:49px;
margin: 0 12px 0 12px;
}

.sort-by {
  display: inline-block;
font-size:24px;
color:#a3a3a3;
letter-spacing:-0.15px;
line-height:48px;
margin: 0 12px 0 12px;
}

.bluebtn {
  display: inline-block;
  background:#0ad4fa;
  color: white;
border-radius:100px;
width:163px;
height:48px;
margin: 0 12px 0 12px;
}

.whitebtn {
  display: inline-block;
  background:#ededed;
border-radius:100px;
width:163px;
height:48px;
margin: 0 12px 0 12px;
}

.arrows {
  width: 150px;
  display:flex;
}

.next {
margin-right: 5px;
width:48px;
height:48px;
}

.left {
  background-color: blue;
  width:48px;
height:48px;
}


.right {
  background-color: red;
  width:48px;
height:48px;
}

.previous {
  width:48px;
  height:48px;
  }

.line {
background:#d9d9d9;
display:flex;
height:1px;
margin: 0 132px 12px 132px;
width:1176px;
}

.products {
  margin: 0 132px 0 132px;
  width:1176px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}