* {
  box-sizing: border-box; 
}
  
  body {
  margin: 0;
  background-color: #f9f9f9;;
}

header {
  background: #ffffff;
  width: 100vw;
  height: 80px;
}

.main-header-container {
  padding: 16px 42px 16px 42px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  height: 36px;
  width: 39px;
  display: inline-block; 
}

.logo-container:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

.logo-container img {
  height: 100%;
  width: auto;
}

.user-name {
font-size:24px;
color:#616161;
letter-spacing:-0.15px;
line-height:48px;
padding: 16px 18px 16px 0;
display: inline-block; 
}

.user-points-container {
background:#ededed;
border-radius:100px;
width:103px;
height:48px;
display: inline-block; 
}

.user-points {
font-size:24px;
color:#616161;
letter-spacing:-0.15px;
line-height:48px;
text-align:center;
padding: 0 9px 0 13px;
display: inline-block;
}

.user-points-icon {
  width:24px;
  height:24px;
  display: inline-block;
}

.user-points-icon img {
  width: 100%;
  height: auto;
  vertical-align: sub;
}

